# Pinata IPFS Configuration
# Get your API keys from: https://app.pinata.cloud/developers/api-keys
REACT_APP_PINATA_API_KEY=your_pinata_api_key_here
REACT_APP_PINATA_SECRET_API_KEY=your_pinata_secret_api_key_here

# Other environment variables can be added here
# REACT_APP_OTHER_SERVICE_KEY=your_other_key_here 